name: Java CI CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  builds:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build with maven
        run: mvn -B package --file pom.xml

      - name: Run tests
        run: mvn test